name: Build Ant Windows CLI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  windows:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Build EXE
        run: |
          go build -ldflags="-s -w" -o ant.exe

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ant_cli_windows
          path: ant.exe

